# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-transfer/
.vercel/
.idea/
.v0-export/
.codex
next.user-config.*

# Environment variables
.env
*.local
.idea/*

# Common ignores
node_modules
.next/
coverage/
tsconfig.tsbuildinfo
.DS_Store
AGENTS.md
